.tab-content {
  height: 100%; /* Set height according to your layout */
  overflow-y: auto; /* Make the container vertically scrollable */
}

.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%; /* or whatever width you desire */
    height: 100%; /* Make the height 100% */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
    gap: 20px; /* Adjust the gap between grid items */
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
  }

 
  